.chiiu{
    font-family: cursive;
    text-align: left;

    
}
.divpro{
    border: 2px dotted #9C9FA0;
    width: 600px;
    display: inline-block;
    margin-left: 300px;
    
}
.codepd{
    font-size: 25px;
}
.inp{
    text-align: left;
}